{% extends "website/base.html" %}

{% block "title" %}Error 403{% endblock %}

{% block "header" %}
{{ block.super }}
{% endblock %}

{% block "content" %}
{{ block.super }}
<div class="row">
    <div class="small-12 columns text-center">
        <h1>Error 403</h1>
        <p>HTTP forbidden</p>
    </div>
</div>
{% endblock %}

{% block "footer" %}
{{ block.super }}
{% endblock %}