{% extends "website/base.html" %}

{% block "title" %}Error 500{% endblock %}

{% block "header" %}

{% endblock %}

{% block "content" %}
{{ block.super }}
<div class="row">
    <div class="small-12 columns text-center">
        <h1>Error 500</h1>
        <p>Internal server error</p>
    </div>
</div>
{% endblock %}

{% block "footer" %}
{% endblock %}