{% load static navsy_tags %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        {% navsy_title base="" %}

        <!-- for Google -->
        <meta name="description" content="{{ navsy_page.seo_description }}" />
        <meta name="keywords" content="{{ navsy_page.seo_keywords }}" />
        <meta name="copyright" content="">
        <meta name="author" content="">
        <meta name="robots" content="index, follow">

        <!-- for Facebook -->
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static "website/img/share-image.jpg" %}">
        <meta property="og:url" content="">
        <meta property="og:description" content="">

        <!-- for Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="{% static "website/img/share-image.jpg" %}">

        <!-- for Browser & Device -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "website/img/favicon/apple-touch-icon-57x57.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "website/img/favicon/apple-touch-icon-114x114.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "website/img/favicon/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "website/img/favicon/apple-touch-icon-144x144.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "website/img/favicon/apple-touch-icon-60x60.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "website/img/favicon/apple-touch-icon-120x120.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "website/img/favicon/apple-touch-icon-76x76.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "website/img/favicon/apple-touch-icon-152x152.png" %}">
        <link rel="icon" type="image/png" href="{% static "website/img/favicon/favicon-196x196.png" %}" sizes="196x196">
        <link rel="icon" type="image/png" href="{% static "website/img/favicon/favicon-96x96.png" %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static "website/img/favicon/favicon-32x32.png" %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static "website/img/favicon/favicon-16x16.png" %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{% static "website/img/favicon/favicon-128.png" %}" sizes="128x128">
        <meta name="application-name" content="">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="{% static "website/img/favicon/mstile-144x144.png" %}">
        <meta name="msapplication-square70x70logo" content="{% static "website/img/favicon/mstile-70x70.png" %}">
        <meta name="msapplication-square150x150logo" content="{% static "website/img/favicon/mstile-150x150.png" %}">
        <meta name="msapplication-wide310x150logo" content="{% static "website/img/favicon/mstile-310x150.png" %}">
        <meta name="msapplication-square310x310logo" content="{% static "website/img/favicon/mstile-310x310.png" %}">

        <!-- Headbar color on Chrome, Firefox OS, Opera and Vivaldi -->
        <meta name="theme-color" content="#FFFFFF">

        {% navsy_languages_alternate_href %}

        {% block "css" %}
        <link rel="stylesheet" href="{% static "website/css/app.css" %}">
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block "js_head_import" %}
        {% endblock %}
    </head>
    <body>

        {% block "header" %}
        {% include "website/inc/header.html" %}
        {% endblock %}

        {% block "content" %}
        {% endblock %}

        {% block "footer" %}
        {% include "website/inc/footer.html" %}
        {% endblock %}

        <script src="{% static "website/js/app.js" %}"></script>

        {% block "js_body_import" %}
        {% endblock %}

        <script type="text/javascript">
        (function($){
            $(document).ready(function(){

                {% block "js_document_ready" %}
                {% endblock %}
            });
        })(jQuery);
        </script>

        {% block "js_google_analytics" %}
        {% endblock %}

    </body>
</html>